In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [5]:
df = pd.read_csv("C:\\Users\\furka\\Downloads\\multilinearregression.csv",sep=";")
df.head()

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df[['alan','odasayisi','binayasi']],df['fiyat'])
reg.predict([[230,4,10]])

C:\Users\furka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619])

In [10]:
prices=[[230,4,10],[230,6,0],[355,3,20]]
reg.predict(prices)

C:\Users\furka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619, 586097.7833456 , 616657.45791365])

In [11]:
import pickle

In [12]:
model_dosyasi="emlak_mlr_model.pickle"
pickle.dump(reg,open(model_dosyasi,"wb"))